:root {
    --red-color: #FF6464;
    --white-color: #fafafa;
    --bgr-color: #EDF7FA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Heebo";
    font-size: 16px;
    color: #21243D;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
    outline: none;
    background: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container section {
    padding: 0 80px;
}

/* header */
.header {
    font-weight: 700;
}

.header__bars {
    display: none;
}

.header-body {
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu__nav {
    padding: 10px 20px;
    font-weight: 600;
}

/* body */
.description {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

.description__time {
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 2px 8px;
    margin-right: 2rem;
    font-size: 18px;
    font-weight: 900;
    border-radius: 16px;
    height: fit-content;
}

.description__type {
    font-size: 20px;
}

/* footer */
.footer {
    margin: 60px 0;
}

.footer__connect {
    margin: 20px 20px;
}

.footer__connect--btn {
    margin: 0 1.5rem;
}

.footer__connect--btn:hover svg path {
    fill: #00A8CC;
    transition: fill ease-in .2s;
    box-shadow: #00A8CC 2px 2px 8px 2px;
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
    }

    .menu {
        color: var(--white-color);
        background-color: #00A8CC;
        display: flex;
        flex-direction: column-reverse;
    }

    .header__bars {
        display: block;
    }
}