/* global */
body {
    font-family: "New York Extra Large";
}

p {
    text-align: center;
}

h1,
h2 {
    font-weight: 700;
}

/* header */
.header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
}

.header__link {
    padding: 0 1rem;
}

.articles__item img {
    width: 100%;
    max-height: 176px;
}
.nav__icon {
    display: none;
}

/* body */
/* /intriduce */
.introduce img {
    max-height: 533px;
}

.introduce h1 {
    font-size: 3rem;
    padding: 0 3rem;
}

/* list artical */

.articles__des {
    font-family: "SF Mono";
    font-size: calc(1rem + 2px);
}

.articles hr {
    color: #000;
    border-top: 2px solid #000;
}

.articles__item {
    margin-bottom: 3rem;
}

.articles__item .des {
    font-weight: 500;
    font-size: calc(1rem + 4px);
    margin-top: 1rem;
    font-family: "SF Pro Display";
}
.articles__item__img {
    height: 176px;
}

/* footer */
.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "SF UI Text";
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}


.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__link {
    margin: 1rem .1rem;
}
.footer__link a{
    font-size: calc(1rem + 2px);
    text-transform: uppercase;
}
.footer__link--bold a{
    font-weight: 800;
}
.footer__link--thin a{
    font-weight: 400;
}
.footer__connect {
    font-weight: 500;
    margin: 2rem 0;
}
.footer__connect a {
    margin: 0 .5rem;
    text-decoration:underline;
}
.footer__source {
    font-size: calc(1rem - 4px);
    font-weight: 500;
}

/* header responsive */
.dash {
    transition: 0.3s ease;
    border-top: 1.6px solid #000;
    width: 30px;
    height: 10px;
}
@media screen and (max-width: 475px) {
    .header__menu {
        position: fixed;
        color:#fff;
        top: 0;
        left: 0;
        width: 80vw;
        flex-direction: column;
        justify-content: start;
        transition: 0.3s ease-in;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        padding: 20px 0;
    }
    .header__menu.active {
        display: flex;
        right: 0;
    }
    .nav__icon{
        display: block;
    }
    .nav__icon.active .dash:nth-child(2) {
        display: none;
    }
    .nav__icon.active .dash:nth-child(1) {
        transform: translateY(10px) translateX(-5px) rotate(45deg);
    }
    .nav__icon.active .dash:nth-child(3) {
        transform: rotate(-45deg);
    }
}