
.content {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
}
.content_left {
    padding: 10px;
    display: flex;
    flex: 2;
    justify-content: center;
}
.title, .infor{
   display: flex;
   align-items: center;
}
.infor {
    flex-direction: column;
}
.color_main {
    color: darkcyan;
}
.content_right {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
    color: white;
}
img#avatar{
    border-radius: 50%;
}
.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/*màn hình điện thoại(320 x 375)*/
@media screen and (min-width: 320px) and (max-width: 375px){
    .content {
        flex-direction: column-reverse;
    }
}
/*màn hình tablet dọc(375 x 768)*/
@media screen and (min-width: 375px) and (max-width: 768px){
    .content {
        flex-direction: column-reverse;
    }
    .infor {
        display: none;
    }
}
/*màn hình tablet ngang(768 x 900)*/
@media screen and (min-width: 768px) and (max-width: 900px){
    .content {
        flex-direction: row-reverse;
    }
}
