.content {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
}
.content_left {
    padding: 10px;
    display: flex;
    flex: 2;
    justify-content: center;
}
.title {
   display: flex;
   align-items: center;
}
.color_main {
    color: darkcyan;
}
.content_right {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
    color: white;
}
#avatar {
    border-radius: 50%;
}
.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}