@import "../../assets/variable.scss";

.work__item {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    border-bottom: 1px solid #E0E0E0;

    &__img {
        border-radius: 4px;
        margin: 1rem 2rem 1rem 0;
    }
    &__content {
        .description {
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
        }
        .header {
            font-size: 30px;
            font-weight: 700;
            margin-top: 0;
        }
        .content {
            max-width: 560px;
        }
    }

    &__time {
        color: $white;
        font-weight: 900;
        font-size: 18px;
        padding: 0 0.75rem;
        background-color: #142850;
        border-radius: 16px;
        margin: 4px 2rem 2px 0;
    }
    &__detail {
        font-size: 20px;
        opacity: 0.7;
    }
}