@import "../../assets/variable.scss"; 


.header-body {
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}


.introduce {
    margin: 40px 0;
    flex-direction: row;
    &__infor {
        flex-direction: column;
        padding-right: 40px;
        max-width: 540px;

        .header {
            font-size: 2.75rem;
            font-weight: 700;
            max-width: 460px;
        }
        .download {
            color: $white;
            background-color: $red;
            max-width: 208px;
            padding: 6px;
            border-radius: 4px;
        }
    }

    &__img {
        margin: 0 40px;
        border-radius: 50%;
    }
}

.post {
    background-color: $bgrColor;
    padding-bottom: 20px;
    flex-direction: column;

    &__header a {
        color: #00A8CC;
    }

    &__list {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: $small) {
    .introduce {
        flex-direction: column-reverse;
    }
    .post {
        &__list {
            flex-direction: column;
            justify-content: center;
            padding-left: 0;
        }
    }
}
